# Dependencies
node_modules
npm-debug.log
yarn-error.log
pnpm-lock.yaml

# Testing
coverage
.nyc_output
test-results
playwright-report

# Next.js
.next
out

# Production
build
dist

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Git
.git
.gitignore

# IDEs
.vscode
.idea
*.swp
*.swo

# Misc
.DS_Store
*.log
README.md
docs

# CI/CD
.github
.husky

# Prisma migrations (included in image)
# prisma/migrations
